# Virtual environment
.venv/
venv/
env/

# Data & model checkpoints
checkpoints/

# Python cache
**/__pycache__/
*.py[cod]
.mypy_cache
.pytest_cache

# Type checking
.pyright/

# Environment / secrets
.env

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Temp files
*.tmp
git_status.txt
